* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body {
  width: 100%;
  min-height: inherit;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(170, 170, 170, 1);
}
a {
	text-decoration: none;
  color: $fontColor;
}
i {
  cursor:pointer;
}
